/*초기화*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, a, span, p {
  font: inherit;
  vertical-align: baseline;
  transform: skew(-0.1deg);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@font-face {
  font-family: 'cookieRun';
  src: url('../font/CookieRun\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'cookieRunBold';
  src: url('../font/CookieRun\ Bold.ttf') format('truetype');
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 66, 62);
}

html, body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

#logo {
    width: 240px;
    height: 60px;
}

.menu-box {
  display: flex;
}

.menu-box li {
  margin: 18px 10px 15px 10px;
}

.menu-box li a {
  font-size: 26px;
  font-family: 'cookieRun';
  color: rgb(240, 164, 0);
}

hr {
  margin: 0;
  border: solid 3px rgb(207, 108, 108);
}

section {
  height: 100%;
  display: flex;
}

.present-list {
  background-color: rgb(14, 66, 62);
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-list {
  width: 250px;
  height: 80px;
  margin: 20px 20px 5px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 234, 166);
  box-shadow: 0px 3px 0px rgb(204, 186, 126);
}

.add-list i {
  font-size: 36px;
  color: rgb(245, 99, 99);
}

.add-list p {
  font-weight: bold;
  color: rgb(194, 124, 34);
}

.present-box {
  background-color: rgb(14, 66, 62);
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  /* border: 3px solid rgb(69, 151, 144); */
}

.present-box p {
  font-size: 20px;
  margin-bottom: 5px;
  color: aliceblue;
  font-weight: 900;
}

.present-box hr {
  border: solid 2px rgb(194, 124, 34);
}

.present {
  background-color: antiquewhite;
  width: 250px;
  height: 100px;
  margin: 15px 5px 10px 5px;
  padding: 5px;
  border-radius: 10px;
  font-family: 'cookieRunBold';
}

.present .category {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  color: rgb(131, 131, 131);
}

.present #bomb {
  text-align: center;  
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 90px;
  font-size: 50px;
  display: inline-block;
}

.present .present-name {
  outline: none;
  border: none;
  background-color: antiquewhite;
  width: 98%;
  height: 55px;
  margin-bottom: 3px;
  font-size: 25px;
  font-family: 'cookieRunBold';
}

.input-persent {
  display: flex;
}

.input-persent input {
  outline: none;
}

.range {
  width: 80%;
}

.range-value {
  width: 30px;
}

.random-box {
  background-color: rgb(62, 119, 168);
  width: 100%;
  height: 100%;
}