/*초기화*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, a, span, p {
  font: inherit;
  vertical-align: baseline;
  transform: skew(-0.1deg);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@font-face {
  font-family: 'cookieRun';
  src: url('../font/CookieRun\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'cookieRunBold';
  src: url('../font/CookieRun\ Bold.ttf') format('truetype');
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 66, 62);
}

html, body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

#logo {
    width: 240px;
    height: 60px;
}

.menu-box {
  display: flex;
}

.menu-box li {
  margin: 18px 10px 15px 10px;
}

.menu-box li a {
  font-size: 26px;
  font-family: 'cookieRun';
  color: rgb(240, 164, 0);
}

hr {
  margin: 0;
  border: solid 3px rgb(207, 108, 108);
}

section {
  height: 100%;
  display: flex;
}

.present-list {
  background-color: rgb(14, 66, 62);
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add-list {
  width: 250px;
  height: 80px;
  margin: 20px 20px 5px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 234, 166);
  box-shadow: 0px 3px 0px rgb(204, 186, 126);
}

.add-list i {
  font-size: 36px;
  color: rgb(245, 99, 99);
}

.add-list p {
  font-weight: bold;
  color: rgb(194, 124, 34);
}

.present-box {
  background-color: rgb(14, 66, 62);
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  /* border: 3px solid rgb(69, 151, 144); */
  overflow: auto;
}

/* 선물리스트 스크롤 바 */

.present-box::-webkit-scrollbar {
  width: 5px;
}

.present-box::-webkit-scrollbar-thumb {
  background-color: rgb(240, 217, 140);
  border-radius: 10px;
}

/* 선물리스트 p 태그 */

.present-list .p-list {
  font-size: 20px;
  margin: 10px 15px 1px 15px;
  color: aliceblue;
  font-weight: 900;
}

.present-list hr {
  border: solid 3px rgb(194, 124, 34);
  margin: 1px 15px 1px 15px;
}

.present {
  background-color: antiquewhite;
  width: 250px;
  height: 100px;
  margin: 1px 5px 10px 5px;
  padding: 5px;
  border-radius: 10px;
  font-family: 'cookieRunBold';
}

/* present-header */

.present .present-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.present-header .present-number {
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  color: rgb(245, 245, 245);
  background-color: rgb(48, 104, 104);
  width: 25px;
  height: 20px;
  border-radius: 50%;
}

.present .category {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  color: rgb(131, 131, 131);
}

.present #bomb {
  text-align: center;  
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 90px;
  font-size: 50px;
  display: inline-block;
}

/* close button */

.present-header .closeBtn {
  padding: 0;
  outline: none;
  border: none;
  background-color: antiquewhite;
}

.present-header .closeBtn i {
  font-size: 22px;
  color: rgb(131, 131, 131);
}

/* marquee present-name */

.present .present-name {
  outline: none;
  border: none;
  background-color: antiquewhite;
  width: 98%;
  height: 40px;
  font-size: 25px;
  font-family: 'cookieRunBold';
}

/* input-persent */

.input-persent {
  display: flex;
}

.input-persent input {
  outline: none;
}

.range {
  width: 80%;
}

.range-value {
  width: 30px;
}

/* random-box*/

.random-box {
  background-color: rgb(62, 119, 168);
  width: 100%;
  height: 100%;
}

/* modal */

.modal {
  /* display: none; */
}

.modal-body {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.4);
}

.modal-container {
  position: absolute;
  background-color: rgba(14, 66, 62, 0.877);
  width: 600px;
  height: 600px;
  top: 10%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgb(56, 56, 56);
}

.modal-title button {
  outline: none;
  border: none;
  background-color: rgba(223, 223, 223, 0);
}

.modal-title button i {
  font-size: 40px;
  margin-top: -15px;
  padding-bottom: 10px;
  color: rgb(240, 164, 0);
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 2px 20px 20px 20px;
}

.search-box select {
  outline: none;
  height: 39px;
  margin-top: 1px;
  background-color: blanchedalmond;
  border: 1px rgb(233, 210, 176);
  border-style: none solid none none;
  border-radius: 10px 0 0 10px;
  font-weight: 600;
  color: rgb(112, 112, 112);
}

.search-box .search {
  width: 100%;
  background-color: rgba(177, 177, 177, 0);
  display: flex;
}

.search-box .search input {
  width: 83%;
  height: 37px;
  outline: none;
  border: none;
  margin-top: 1px;

}

.search-box .search button {
  width: 60px;
  height: 39px;
  outline: none;
  border: 1px rgb(233, 210, 176);
  border-radius: 0 10px 10px 0;
  border-style: none none none solid;
  background-color: blanchedalmond;
  margin-top: 1px;
}

.search-box .search button i {
  margin-top: 2px;
  font-weight: 600;
  color: rgb(112, 112, 112);
}

.present-container .present-image {
  width: 300px;
  height: 300px;
  border: 5px solid rgb(182, 161, 131);
  border-radius: 10px;
  margin-left: 24%;
  margin-bottom: 20px;
}

.present-container hr {
  margin: 0 50px 10px 50px;
  border: solid 2px rgb(240, 164, 0);
  border-radius: 10px;
}

.present-container .present-image img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}

.present-container .present-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.present-container .present-info span {
  font-family: 'cookieRunBold';
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.present-container .present-info span input {
  border: none;
  outline: none;
  height: 30px;
  background-color: blanchedalmond;
  border-radius: 10px;
  color: rgb(36, 36, 36);
  font-family: 'cookieRunBold';
}

.present-container .present-info span .price {
  width: 100px;
}

.present-container p {
  font-family: 'cookieRunBold';
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 37px;
}

.present-container .persent {
  display: flex;
  justify-content: center;
  margin: 20px 50px 15px 50px;
}

.present-container .persent input {
  border: none;
  outline: none;
  background-color: blanchedalmond;
  border-radius: 5px;
  margin-left: 10px;
  padding-bottom: 2px;
  font-size: 17px;
  text-align: center;
  color: rgb(36, 36, 36);
  font-family: 'cookieRunBold';
}

.present-container .persent span {
  font-size: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'cookieRunBold';
  margin-left: 5px;
}