/*초기화*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@font-face {
    font-family: 'cookieRun';
    src: url('/font/CookieRun\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cookieRunBold';
    src: url('/font/CookieRun\ Bold.ttf') format('truetype');
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.board-menu {
    background-color: rgba(109, 87, 58, 0.767);
    width: 800px;
    height: 90px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board {
    background-color: rgb(47, 64, 90);
    width: 800px;
    height: 1000px;
    border-radius: 0 0 10px 10px;
    border-width: 5px;
    border-style: solid none none none;
    border-color: rgba(104, 104, 104, 0.39);
    display: flex;
}

.board .board-border {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: center;
    padding: 80px;
}

.board-menu .time {
    visibility: hidden;
    background-color: rgb(255, 112, 112);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 3px rgb(255, 255, 255);
    margin-left: 10px;
    box-shadow: inset 0 0 5px gray;
}

.board-menu .time .second {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    color: rgb(36, 36, 36);
    font-family: 'Luckiest Guy', cursive;
}

.board-menu .round {
    font-size: 50px;
    color: rgb(36, 36, 36);
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    letter-spacing: 6px;
}

.board-menu .pause i {
    margin-right: 10px;
    font-size: 50px;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

/* score */
.board .score i {

  margin: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* difficulty */

.board .game-start .difficulty {
  margin-left: 70px;
  margin-top: 300px;
}

.board .game-start .difficulty p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'cookieRunBold';
  color: rgb(255, 255, 255);
}


.board .game-start .difficulty div {
  background-clip: padding-box;
  background-color: rgba(49, 38, 15, 0.795);
  margin: 10px;
  width: 230px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 7px double rgba(49, 38, 15, 0.795);
  border-radius: 10px;
  font-family: 'cookieRunBold';
  font-size: 30px;
  color: rgba(255, 255, 255, 0.918);
  cursor: pointer;
}

.card {
    width: 160px;
    height: 220px;
    background-color: blanchedalmond;
    margin: 60px;
    border-radius: 14px;
    border: 5px solid rgb(160, 139, 107);
    box-shadow: 0 0 0 3px #000 inset; 
    position: relative;
    cursor: pointer;
}

.card .card-front {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    transform: rotateY('90deg');
}

.card .card-front img {
    width: 160px;
    height: 220px;
    border-radius: 8px;   
}

.card .card-back {
    width: 160px;
    height: 220px;
    background-color: blanchedalmond;
    border-radius: 8px;
    position: absolute;
}

/* 카드 뒤집기 애니메이션 */
.cardRotate .card-back {
  opacity:1;
  animation: rotateAni 0.5s 1;
  transform: rotateY(90deg);
}

.cardRotate .card-front {
  opacity:1;
  animation: rotateAni2 0.5s 0.5s 1 backwards; 
  transform: rotateY(0deg) !important;
}

.backRotate .card-back{
  animation: backAni 0.5s 1; 
  opacity:1;
}

.backRotate .card-front {
  opacity:0;
}


@keyframes rotateAni{
  0% {
    transform:rotateY(0deg);
  }
  100% {
    transform:rotateY(90deg);
  }
}
@keyframes rotateAni2{
  0% {
    transform:rotateY(-90deg);
  }
  100% {
    transform:rotateY(0deg);
  }
}

@keyframes backAni{
  0%{transform:rotateY(90deg);}
  100%{transform:rotateY(0deg);}
}

/* modal */
.modal {
  display: none;
}

.modal-body {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.4);
}

.modal-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 640px;
  height: 600px;
  top: 20%;
  border: 5px solid rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgb(56, 56, 56);
}

.modal-title button {
  outline: none;
  border: none;
  background-color: rgba(223, 223, 223, 0);
  cursor: pointer;
}

.modal-title button i {
  font-size: 40px;
  margin-top: -15px;
  padding-bottom: 10px;
  color: rgb(34, 34, 34);
}

.modal-content p {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.modal-content hr {
  margin: 0 200px 10px 200px;
  border: solid 2px rgba(36, 36, 36, 0.123);
  border-radius: 10px;
}

.modal-content .level-score {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-content .level-score div {
  width: 200px;
  height: 220px;
  background-color: antiquewhite;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(219, 198, 169);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content .level-score div .title {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.modal-content .level-score div p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.modal-content .level-score div span {
  text-align: center;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
  background-color: rgb(219, 198, 169);
  margin: 0 30px 5px 30px;
  border-radius: 5px;
}

.modal-content .level-score .easy .title{
  color: rgb(38, 110, 54);
}

.modal-content .level-score .normal .title{
  color: rgb(156, 93, 57);
}

.modal-content .level-score .hard .title{
  color: rgb(146, 21, 21);
}

.modal-content .game-info {
  float: left;
  border: 5px solid rgb(219, 198, 169);
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  font-size: 18px;
  font-family: 'cookieRunBold';
  line-height: 50px;
}

/* setting */
.speech-bubble {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  background-color: #fff;
  border: 5px solid rgb(206, 206, 206);
  border-radius: 30px;
  box-shadow: 2px 2px 4px #888;
  margin-bottom: 620px;
  margin-left: 450px;
}

.speech-bubble:before {
  border: 20px solid;
  border-color: transparent transparent rgb(206, 206, 206) transparent;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  transform: translateX(-50%);
}

.speech-bubble:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 15%;
  transform: translateX(50%);
  border: 14px solid;
  border-color: transparent transparent #fff transparent;
}

.speech-bubble .setting {
  text-align: center;
  padding: 0 auto;
  margin: 5px;
  text-align: center;
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.speech-bubble .setting-content {
  display: flex;
  flex-wrap: wrap;
}

.speech-bubble .setting-content span {
  font-size: 26px;
  font-family: 'cookieRunBold';
  color: rgb(36, 36, 36);
}

.speech-bubble .setting-content .bgm {
  margin: 10px 7px 10px 10px;
}

.speech-bubble .setting-content .sfx {
  margin: 10px 10px 10px 10px;
}

.speech-bubble .setting-content i {
  text-align: center;
  margin-top: 10px;
  color: rgb(36, 36, 36);
  cursor: pointer;
}

/* range */

.speech-bubble .setting-content .player__slider {
  width: 280px;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(221, 221, 221, 0.8);
  border-radius: 5px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: rgb(49, 38, 15);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b8b8b8;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgb(49, 38, 15);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: rgb(49, 38, 15);
  cursor: pointer;
}

.speech-bubble .credit {
  text-align: center;
  padding: 0 auto;
  margin: 5px;
  text-align: center;
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.speech-bubble .credit-name {
  padding: 0 auto;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.speech-bubble .copyright {
  padding: 0 auto;
  margin: 20px 5px 5px 5px;
  text-align: center;
  font-size: 24px;
  font-family: 'Luckiest Guy', cursive;
  color: rgb(36, 36, 36);
}

.speech-bubble hr {
  margin: 0;
  border: solid 2px rgba(199, 199, 199, 0.699);
}

audio {
  display: none;
}