/*초기화*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@font-face {
    font-family: 'cookieRun';
    src: url('/font/CookieRun\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cookieRunBold';
    src: url('/font/CookieRun\ Bold.ttf') format('truetype');
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.board-menu {
    background-color: rgba(109, 87, 58, 0.767);
    width: 800px;
    height: 90px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board {
    background-color: rgb(47, 64, 90);
    width: 800px;
    height: 1000px;
    border-radius: 0 0 10px 10px;
    border-width: 5px;
    border-style: solid none none none;
    border-color: rgba(104, 104, 104, 0.39);
    display: flex;
}

.board .board-border {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: center;
    padding: 100px;
}

.board-menu .time {
    background-color: rgb(255, 112, 112);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 3px rgb(255, 255, 255);
    margin-left: 10px;
    box-shadow: inset 0 0 5px gray;
}

.board-menu .time .second {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    color: rgb(36, 36, 36);
    font-family: 'Luckiest Guy', cursive;
}

.board-menu .round {
    font-size: 50px;
    color: rgb(36, 36, 36);
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    letter-spacing: 6px;
}

.board-menu .pause i {
    margin-right: 10px;
    font-size: 50px;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

.board .game-start .difficulty {
  margin-left: 70px;
  margin-top: 300px;
}

.board .game-start .difficulty p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'cookieRunBold';
  color: rgb(255, 255, 255);
}


.board .game-start .difficulty div {
  background-clip: padding-box;
  background-color: rgba(49, 38, 15, 0.795);
  margin: 10px;
  width: 230px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 7px double rgba(49, 38, 15, 0.795);
  border-radius: 10px;
  font-family: 'cookieRunBold';
  font-size: 30px;
  color: rgba(255, 255, 255, 0.918);
  cursor: pointer;
}

.card {
    width: 160px;
    height: 220px;
    background-color: blanchedalmond;
    margin: 60px;
    border-radius: 14px;
    border: 5px solid rgb(160, 139, 107);
    box-shadow: 0 0 0 3px #000 inset; 
    position: relative;
    cursor: pointer;
}

.card .card-front {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    transform: rotateY('90deg');
}

.card .card-front img {
    width: 160px;
    height: 220px;
    border-radius: 8px;   
}

.card .card-back {
    width: 160px;
    height: 220px;
    background-color: blanchedalmond;
    border-radius: 8px;
    position: absolute;
}

/* 카드 뒤집기 애니메이션 */
.cardRotate .card-back {
  opacity:1;
  animation: rotateAni 0.5s 1;
  transform: rotateY(90deg);
}

.cardRotate .card-front {
  opacity:1;
  animation: rotateAni2 0.5s 0.5s 1 backwards; 
  transform: rotateY(0deg) !important;
}

.backRotate .card-back{
  animation: backAni 0.5s 1; 
  opacity:1;
}

.backRotate .card-front {
  opacity:0;
}


@keyframes rotateAni{
  0% {
    transform:rotateY(0deg);
  }
  100% {
    transform:rotateY(90deg);
  }
}
@keyframes rotateAni2{
  0% {
    transform:rotateY(-90deg);
  }
  100% {
    transform:rotateY(0deg);
  }
}

@keyframes backAni{
  0%{transform:rotateY(90deg);}
  100%{transform:rotateY(0deg);}
}